In [1]:
import pandas as pd
from evidently import Report, Dataset
from evidently.presets import DataDriftPreset

In [6]:
df=pd.read_csv(r"C:\Users\ajay\Desktop\myPortfolio\CommentAnalysis\artifacts\data_ingestion\reddit.csv")

In [7]:
df[:10000]

                                          clean_comment  category
0      family mormon have never tried explain them t...         1
1     buddhism has very much lot compatible with chr...         1
2     seriously don say thing first all they won get...        -1
3     what you have learned yours and only yours wha...         0
4     for your own benefit you may want read living ...         1
...                                                 ...       ...
9995   team standard scoring pick tevin coleman ari ...         0
9996  standard scoring pick one booker marshall smal...         0
9997               team ppr pick two cooks ware miller          0
9998   ppr pick jonathan stewart sterling shepard wi...         0
9999   man ppr terrelle pryor giants devontae booker...         1

[10000 rows x 2 columns]

In [8]:
report=Report(metrics=[
    DataDriftPreset()
])

In [11]:
data_drift_report=report.run(current_data=df[:5000],reference_data=df[5000:10000])
data_drift_report.save_json("t.json")

In [13]:
data_drift_report.save_html("data_drift.html")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37249 entries, 0 to 37248
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  37149 non-null  object
 1   category       37249 non-null  int64
dtypes: int64(1), object(1)
memory usage: 582.1+ KB

In [6]:
df['category'].value_counts()

category
 1    15830
 0    13142
-1     8277
Name: count, dtype: int64